
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>error</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
</head>
<body>
<div th:replace="fragments/header :: header">Hier komt de header</div>

<div >
    <h2>Ai, er ging iets mis ....</h2>
    <br><br>
    <p>Gebruik het menu om verder te werken met de applicatie </p>
</div>
<div class="bottom">
    <p>copyright ThomasMore</p>
</div>
</body>
</html>