
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Homepagina</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
</head>
<body>
<div th:replace="fragments/header :: header">Hier komt de header</div>

<div class="row1">
    <img src="/image/party.png" alt="Party" width="1583" height="888">
</div>
<div class="bottom">
    <p>copyright ThomasMore</p>
</div>
</body>
</html>